# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/manifold-analysis
/src/billing-core/ @DataBiosphere/manifold-core-services
/src/billing/ @DataBiosphere/manifold-core-services
/src/groups/ @DataBiosphere/manifold-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/manifold-analysis
/src/constants/datasets.js @DataBiosphere/jadeteam
/src/images/brands/scientificServices/ @DataBiosphere/teaspoons-developers
/src/import-data/ @DataBiosphere/jadeteam @DataBiosphere/manifold-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/manifold-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/manifold-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/manifold-analysis
/src/libs/ajax/billing/ @DataBiosphere/manifold-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/manifold-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/manifold-core-services
/src/libs/ajax/teaspoons/ @DataBiosphere/teaspoons-developers
/src/libs/ajax/workflows-app/ @DataBiosphere/manifold-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/manifold-core-services
/src/pages/library/Datasets* @DataBiosphere/jadeteam
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/jadeteam
/src/dataset-builder/ @DataBiosphere/jadeteam
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/manifold-core-services
/src/pages/groups/ @DataBiosphere/manifold-core-services
/src/pages/scientificServices/ @DataBiosphere/teaspoons-developers
/src/pages/workspaces/* @DataBiosphere/manifold-core-services
/src/profile/notification-settings/* @DataBiosphere/manifold-core-services
/src/workflows-app/ @DataBiosphere/manifold-analysis
/src/workspace-data/ @DataBiosphere/manifold-core-services
/src/workspaces/ @DataBiosphere/manifold-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/manifold-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/manifold-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/manifold-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/manifold-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/manifold-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/manifold-analysis
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/manifold-core-services
