# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage
packages/*/coverage

# production
/build
packages/*/lib
tsconfig.tsbuildinfo
public/build-info.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#
# Additions beyond the default react-create-app .gitignore file.
#

.idea/
saturn-ui.iml
*.iml

/integration-tests/failures
/integration-tests/results
/integration-tests/screenshots
/integration-tests/junit.xml
/integration-tests/test-results

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
