# This file is needed to publish the shared packages
@terra-ui-packages:registry=https://us-central1-npm.pkg.dev/dsp-artifact-registry/terra-ui-packages/
//us-central1-npm.pkg.dev/dsp-artifact-registry/terra-ui-packages/:always-auth=true
