body, input, textarea, select, button {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

table {
  border-collapse: collapse;
}

#root {
  overflow: auto;
  height: 100%;
}

#root.overlayOpen {
  overflow: hidden;
}

#root.overlayOpen.overHeight {
  overflow-y: scroll;
}
